@font-face {
    font-family: lakeshor;
    src: url("fonts/LAKESHOR-webfont.svg");
    src: url("fonts/LAKESHOR-webfont.woff");
}
@font-face {
    font-family: airstream;
    src: url("fonts/Airstream-webfont.svg");
    src: url("fonts/Airstream-webfont.woff");
}
:root {
    --thumbnails-image-width: 20vw;
    --thumbnails-image-height: 18vw;
    --thumbnails-title-height: calc(var(--thumbnails-image-height)*0.3)
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    background-color: rgb(107, 71, 47);

    /* align-items: center; */
}

.thumbnails-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 35vh;
    overflow-y: auto;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    padding-top: 2.5vh;
}
.thumbnails-image {
    width: var(--thumbnails-image-width);
    height: var(--thumbnails-image-height);
    display:block;
}
.details-title {
    background-color: cornsilk;
    position: relative;
    left: 3vw;
    bottom: 2vw;
    font-family: airstream;
    font-style: italic;
}
.details-image {
    width: 60vw;
    height: 55vw;
    border-radius: 25%;
}
.details-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.thumbnails-title {
    display: block;
    text-align: center;
    background-color: rgb(227, 220, 245);
    color: rgb(255, 0, 85);
    font-size: 1.2rem;
    width: var(--thumbnails-image-width);
    height: var(--thumbnails-title-height);
}
.thumbnails-item {
    margin-top: 2vh;
    margin-left: 2vw;
    border: 1px solid blue;
    max-width: var(--thumbnails-image-width);
    min-height: calc(var(--thumbnails-image-height) + var(--thumbnails-title-height));
    border-radius: 25%;
    overflow: hidden;
}
.thumbnails-anchor {
    text-decoration: none;
}
.logo-title {
    background-color: rgba(0, 247, 255, 0.212);
    color: rgba(248, 255, 250, 0.151);
    font-size: 2rem;
    text-align: center;
   text-transform: uppercase;
   margin: 0;
   font-family: lakeshor; 
}
body, html {
    height: 100%
}
@media (min-width: 568px){
    :root {
        --thumbnails-image-width: 12vw;
        --thumbnails-image-height: 10vw;
        --thumbnails-title-height: calc(var(--thumbnails-image-height)*0.3)
    }
    .thumbnails-list {
        flex-direction: column;
        flex-wrap: nowrap;
        order: -1;
        max-height: 70vh;
        justify-content: flex-start;
        padding: 0;
    }
    .thumbnails-title {
        font-size: 1rem;
    }
    .thumbnails-item { 
        margin-left:0;
        overflow:hidden;
        margin-top:  0;
    }
    .thumbnails-item + .thumbnails-item {
        margin-top: 2vh;
    }
    
    .details-image {
        width: 60vw;
        height: 43vw;
    }
    .details-title {
        left: -4vw;
        bottom: 2vw
    }
    .main-content {
        display: flex;
        justify-content: space-around; 
    }
    .details-container {
        justify-content: center;
    }
    body {
        justify-content: space-between;
        margin: 0;
    }
    .logo-title {
        margin: 0; 
        font-size: 1.5rem;
    }
    @media (max-width: 900px){
        :root {
            --thumbnails-image-width: 15vw;
            --thumbnails-image-height: 12vw;
            --thumbnails-title-height: calc(var(--thumbnails-image-height)*0.3)
        }
        .thumbnails-list {
            flex-direction: column;
            flex-wrap: nowrap;
            order: -1;
            max-height: 70vh;
            justify-content: flex-start;
            padding: 0;
        }
        .thumbnails-title {
            font-size: rem;
        }
        .thumbnails-item {
            margin-left:0;
            overflow:hidden;
            margin-top:  0;
        }
        .thumbnails-item + .thumbnails-item {
            margin-top: 2vh;
        }
        
        .details-image {
            width: 60vw;
            height: 43vw;
        }
        .details-title {
            left: -4vw;
            bottom: 2vw; 
        }
        .main-content {
            display: flex;
            justify-content: space-around;  
        }
        .details-container {
            justify-content: center;
            
        }
        body {
            justify-content: space-between;
            margin: 0;
        }
        .logo-title {
            margin: 0;
            font-size: 2 rem;
            
        }  
    }
}